%% -*- erlang -*-
{sub_dirs, ["rel"]}.
{deps, [
        {lager, "2.0", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx", {tag, "develop"}}},
        {riak_core, ".*",{git, "git://github.com/basho/riak_core", {tag, "develop"}}}
       ]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {i, "include"},
            {src_dirs, ["src"]}
            ]}.
{cover_enabled, true}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{plugin_dir, ".rebar_plugins"}.
{plugins, [rebar_test_plugin]}.
{riak_test, [
  {test_paths, ["riak_test"]},
  {test_output, "riak_test/ebin"}
 ]}.
